<!-- <div *ngIf="isLoading$ | async">
    Loading...
</div> -->

<mc-loading *ngIf="isLoading$ | async"></mc-loading>

<div *ngIf="error$ |async">Some Error Happened...</div>

<mc-error-message *ngIf="error$ |async" ></mc-error-message>


<div *ngIf="feed$ | async">
    <div class="article-preview" *ngFor="let article of (feed$ | async)?.articles">
        <div class="article-meta">
            <a [routerLink]="['/profiles', article.author.username]">
                <img [src]="article.author.image"></a>
            <div class="info">
                <a [routerLink]="['/profiles', article.author.username]">
                    {{article.author.username}}</a>
            </div>
            <span class="date">{{article.createdAt}}</span>
        </div>
        <div class="pull-xs-right">
            ADD TO FAVORITES
        </div>
        <a [routerLink]="['/articles', article.slug]" class="preview-link">
        <h1>{{article.title}}</h1>
    <p>{{article.description}}</p>
    <span>Read more...</span>
     HERE LIST OF TAGS
    </a>
    </div>
    PAGINATION
</div>